//Custom Styles Here
body {
	font-family: $primary-font !important;
	background-color: $secondary !important;
	color: $body-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: $heading-color !important;
}

a {
	text-decoration: none;
	color: $body-color !important;
	transition: all 0.5s ease-in-out;
	&:hover,
	&:focus,
	&:active {
		color: $brand-color-primary !important;
	}

	&.active {
		color: $brand-color-primary !important;
	}
}

img {
	display: block !important;
	width: 100% !important;
	max-width: 100% !important;
}
