//Custom Styles Here
body {
	font-family: $primary-font !important;
	background-color: $secondary !important;
	color: $body-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: $heading-color !important;
}

a {
	text-decoration: none;
	color: $body-color !important;
	border-top: $def-border-sz/3.5 $def-border-style transparent;
	border-bottom: $def-border-sz/3.5 $def-border-style transparent;
	transition: all 0.5s ease-in-out;
}

img {
	display: block !important;
	width: 100% !important;
	max-width: 100% !important;
}
