/** Colors **/
$primary: #0a8fc1;
$secondary: #0a34c1;
$dark: #333;
$light: #f4f4f4;

/** Units of Measure **/
//$container-width: example;

/** Fonts **/
//$primary-font: example;
//$secondary-font: example;
//$font-size-dmc: 1rem;

/** Utilities **/

/** Bootstrap Components **/

//Spacers
$spacer: 1rem !default;
$spacers: (
	0: 0,
	1: $spacer * 0.25,
	2: $spacer * 0.5,
	3: $spacer,
	4: $spacer * 1.5,
	5: $spacer * 3,
	6: $spacer * 6,
	7: $spacer * 9,
	8: $spacer * 12,
) !default;

//Container
//$container-max-widths: (
//	sm: 540px,
// 	md: 720px,
// 	lg: 960px,
// 	xl: 980px,
// 	xxl: 1400px,
//) !default;

//navbar
//$navbar-toggler-focus-width: 0.5rem !default;
//$navbar-light-color: $primary !default;
//$navbar-light-icon-color: $secondary !default;
//$navbar-light-toggler-border-color: $primary !default;
