/** Colors **/
$primary: hsl(187, 92%, 15%);
$secondary: hsl(188, 92%, 10%);
$brand-color-primary: hsl(72, 88%, 74%);
$brand-color-secondary: hsl(72, 100%, 67%);
$dark: hsl(0, 0%, 20%);
$light: hsl(0, 0%, 96%);
$body-color: hsl(185, 19%, 88%);
$heading-color: hsl(72, 50%, 91%);

/** Units of Measure **/
//navbar
$side-bar-width: clamp(12rem, 16rem, 22rem);
$nav-linear-grad-opacity: 0.9;
$nav-logo-width: clamp(8rem, 10rem, 12rem);
$nav-logo-height: $nav-logo-width;

//#about
$about_img_size: clamp(45%, 65%, 85%);
$about_img_border_sz: 0.5rem;

/** Fonts **/
$primary-font: 'Bai Jamjuree', sans-serif;

$fs-sm: clamp(1rem, calc(0.153vw + 0.969rem), 1.1rem);
$fs-xs: $fs-sm / 2;
$fs-md: $fs-sm + 1rem;
$fs-lg: $fs-sm + 1.5rem;
$fs-xl: $fs-sm + 2rem;
$fs-xxl: $fs-sm + 2.5rem;
$p-width: clamp(50ch, 70ch, 75ch);

/** Pages **/
//main
$content-wrapper-top-padding-val: clamp(5rem, 6rem, 8rem);
$content-wrapper-left-padding: $side-bar-width;
$content-wrapper-top-padding: $content-wrapper-top-padding-val;
$content-wrapper-container-max-width-lg_up: 98%;
$content-wrapper-container-max-width-lg_down: 95%;

//sections
//#about
$about_accordion_border_color: hsl(0, 0%, 100%);

/** Utilities **/

/** Bootstrap Components **/

//Spacers
$spacer: 1rem !default;
$spacers: (
	0: 0,
	1: $spacer * 0.25,
	2: $spacer * 0.5,
	3: $spacer,
	4: $spacer * 1.5,
	5: $spacer * 3,
	6: $spacer * 6,
	7: $spacer * 9,
	8: $spacer * 12,
) !default;

//navbar
$navbar-light-color: $brand-color-primary !default;
$navbar-light-icon-color: $brand-color-secondary !default;
$navbar-light-toggler-border-color: $brand-color-secondary !default;

//Accordion
$accordion-icon-color: $brand-color-primary;
$accordion-icon-width: clamp(1.5rem, 1.8rem, 2rem);
$accordion-button-color: $body-color;
$accordion-button-bg: $primary;
$accordion-button-active-bg: $brand-color-primary;
$accordion-button-active-color: $primary;
$accordion-bg: $primary;
$accordion-icon-color: $brand-color-primary;
$accordion-icon-active-color: $primary;
$accordion-button-icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='#{$accordion-icon-color}' stroke-linecap='round' stroke-linejoin='round'><path d='M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16'/><path d='M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4'/></svg>");
$accordion-button-active-icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='#{$accordion-icon-active-color}' stroke-linecap='round' stroke-linejoin='round'><path d='M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16'/><path d='M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8'/></svg>");

//buttons
$btn-border-sz: 0.2rem;
