//Downwards
/** X-Small devices (portrait phones, less than 576px) **/

// Small devices (landscape phones, less than 768px)
@include media-breakpoint-down(sm) {
	//empty
}

// Medium devices (tablets, less than 992px)
@include media-breakpoint-down(md) {
	//empty
}

// Large devices (desktops, less than 1200px)
@include media-breakpoint-down(lg) {
	#main-nav {
		border-bottom: $def-border-sz/2.5 $def-border-style $brand-color-primary;
		.navbar-nav {
			.nav-item {
				&:hover {
					background-color: $mobile-nav-hover-color !important;
				}

				&:focus {
					a {
						color: $brand-color-primary !important;
						//background-color: $mobile-nav-hover-color !important;
					}
				}

				.nav-link {
					&.active {
						color: $brand-color-primary !important;
						font-weight: 500;
						//background-color: $mobile-nav-hover-color !important;
					}
				}
			}
		}
	}

	#content-wrapper {
		padding-top: $content-wrapper-top-padding;
	}
}

// X-Large devices (large desktops, less than 1400px)
@include media-breakpoint-down(xl) {
	#content-wrapper {
		padding-top: $content-wrapper-top-padding;
	}
}

//Upwards
/** No media query necessary for xs breakpoint as it's effectively `@media (min-width: 0) {**/

// Small devices (landscape phones, 576px and up)
@include media-breakpoint-up(sm) {
	//Custom Styles HERE
}

// Medium devices (tablets, 768px and up)
@include media-breakpoint-up(md) {
	//here
}

// Large devices (desktops, 992px and up)
@include media-breakpoint-up(lg) {
	#main-nav {
		min-height: $content-wrapper-min-height;
		width: $side-bar-width;

		.container-lg {
			max-width: 100%;
			margin-left: 0;
			margin-right: 0;
			padding-left: 0;
			padding-right: 0;
		}

		.navbar-nav {
			.nav-item {
				&:focus {
					background-color: $secondary !important;
				}

				.nav-link {
					&:hover {
						color: $brand-color-primary !important;
						background-color: $mobile-nav-hover-color !important;
					}

					&.active {
						color: $brand-color-primary !important;
						background-color: $secondary !important;
					}
				}
			}
		}
	}

	#content-wrapper {
		padding-top: $content-wrapper-top-padding;
		padding-left: $content-wrapper-left-padding;
	}
}

// X-Large devices (large desktops, 1200px and up)
@include media-breakpoint-up(xl) {
	//Custom Styles HERE
}

// XX-Large devices (larger desktops, 1400px and up)
@include media-breakpoint-up(xxl) {
	//Custom Styles HERE
}
