#main-nav {
	transition: $def-transition-property $def-transition-duration
		$def-transition-effect;
	.nav-logo {
		width: $nav-logo-width;
		height: $nav-logo-height;
	}

	.navbar-nav {
		.nav-item {
			width: 100%;
		}
	}
}
