#about {
	font-size: $fs-sm;
	.about_text-container {
		p {
			max-width: $p-width;
			text-wrap: pretty;
		}
	}

	.about_img {
		width: $about_img_size;
		border: $about_img_border_sz solid transparent;
		transition: all $def-transition-duration ease-in-out;

		&:hover {
			border: $about_img_border_sz solid $brand-color-primary;
		}
	}

	.accordion-item {
		border: $about_accordion-border-sz solid $about_accordion_border_color;

		.accordion-body {
			li {
				background-color: $primary;
			}
		}

		.accordion-body {
			font-size: calc($fs-sm + 0.5rem);
		}
	}
}

#skills {
	.skills_card {
		border: $card_border_sz solid transparent;
		transition: all $def-transition-duration ease-in-out;
		background: $primary;

		i {
			transition: all $def-transition-duration ease-in-out;
		}

		.card-title {
			color: $brand-color-primary !important;
		}

		&:hover {
			border: $card_border_sz solid $brand-color-primary;
			.skills_card__ {
				&icon_wrap {
					border-bottom: $card_border_sz solid $brand-color-primary;
				}
			}

			i {
				color: $brand-color-primary;
			}
		}

		.skills_card__ {
			&icon_wrap {
				border-bottom: $card_border_sz solid transparent;
				transition: all $def-transition-duration ease-in-out;
				margin-top: $card_wrap-indent;
				border-radius: $card_border_rad;
				background-color: $secondary;
				width: $card_icon_wrap-width;
				height: $card_icon_wrap-height;
			}
		}
	}
}
