#about {
	//font-size: $fs-md;
	.about_text-container {
		p {
			max-width: $p-width;
			text-wrap: pretty;
		}
	}

	.about_img {
		width: $about_img_size;
		border: $about_img_border_sz $def-border-style transparent;
		transition: $def-transition-property $def-transition-duration
			$def-transition-effect;
		object-fit: contain;

		&:hover {
			border: $about_img_border_sz $def-border-style $brand-color-primary;
		}
	}

	.accordion-item {
		transition: $def-transition-property $def-transition-duration
			$def-transition-effect;
		border: $about_accordion-border-sz $def-border-style
			$about_accordion_border_color;

		.accordion-body {
			li {
				background-color: $primary;
			}
		}

		.accordion-body {
			font-size: calc($fs-sm + 0.5rem);
		}
	}
}

#skills {
	//font-size: $fs-md;
	.skills_card {
		//font-size: $fs-sm;
		border: $card_border_sz $def-border-style transparent;
		transition: $def-transition-property $def-transition-duration
			$def-transition-effect;
		background: $primary;

		i {
			transition: $def-transition-property $def-transition-duration
				$def-transition-effect;
		}

		.card-title {
			text-align: center;
			color: $brand-color-primary !important;
		}

		&:hover {
			border: $card_border_sz $def-border-style $brand-color-primary;
			.skills_card__ {
				&icon_wrap {
					border-bottom: $card_border_sz $def-border-style $brand-color-primary;
				}
			}

			i {
				color: $brand-color-primary;
			}
		}

		.skills_card__ {
			&icon_wrap {
				border-bottom: $card_border_sz $def-border-style transparent;
				transition: $def-transition-property $def-transition-duration
					$def-transition-effect;
				margin-top: $card_wrap-indent;
				border-radius: $card_border_rad;
				background-color: $secondary;
				width: $card_icon_wrap-width;
				height: $card_icon_wrap-height;
			}
		}
	}

	.progress {
		height: $progress-bar_height !important;
		transition: $def-transition-property $def-transition-duration
			$def-transition-effect;
		border: $progress_border_sz $def-border-style transparent;

		&:hover {
			border: $progress_border_sz $def-border-style $brand-color-primary;
		}
	}
}

#work {
	//font-size: $fs-md;
	.work_card {
		position: relative;
		background-color: $primary;
		transition: $def-transition-property $def-transition-duration
			$work_card_transition-type;

		&::before {
			transition: $def-transition-property $def-transition-duration
				$work_card_transition-type;
			content: '';
			z-index: $work_card_border-z_index;
			width: $work_card_pseudo-width;
			height: $work_card_pseudo-height;
			position: $work_card_pseudo-position;
			left: $work_card_pseudo-offset;
			bottom: $work_card_pseudo-offset;
			background-color: transparent;
			border-left: $work_card_border_sz $work_card_border_type transparent;
			border-bottom: $work_card_border_sz $work_card_border_type transparent;
			border-radius: $card_border_rad / 30;
		}

		&:hover {
			transform: scale($work_card_scale);
			&::before {
				border-bottom: $work_card_border_sz $work_card_border_type
					$brand-color-primary;
				border-left: $work_card_border_sz $work_card_border_type
					$brand-color-primary;
			}

			// .work_card__img-wrapper {
			// 	border-bottom: $card_border_sz $def-border-style $secondary;
			// }
		}

		&__img-wrapper {
			display: flex;
			height: $work_card_img-sz;
			overflow: hidden;
			border-bottom: $card_border_sz $def-border-style $brand-color-primary;

			.work_card_img {
				//background-color: pink;
				width: 100% !important;
				height: 100% !important;
			}
		}

		.card-body {
			.card-title {
				color: $brand-color-primary !important;
			}
		}
	}
}

#contact {
	.input-group-text {
		transition: $def-transition-property $def-transition-duration
			$def-transition-effect;
		color: $brand-color-primary;
		background-color: $primary;
		border: $card_border_sz / 2 $def-border-style $light;

		&:hover {
			border: $card_border_sz / 2 $def-border-style $brand-color-primary;
		}
	}

	.form-control {
		transition: $def-transition-property $def-transition-duration
			$def-transition-effect;
		border: $card_border_sz $def-border-style $light;
		color: $secondary;

		&:hover,
		&:focus {
			border: $card_border_sz $def-border-style $brand-color-primary;
		}

		&::placeholder {
			color: $secondary;
			opacity: $contact_form__submit-opacity;
		}
	}

	#contact-form-message {
		resize: none;
	}

	.contact_submit {
		background-color: $brand-color-primary;
		color: $secondary;

		&:hover,
		&:hover {
			background-color: $brand-color-secondary;
		}
	}
}
