#about {
	font-size: $fs-sm;
	.about_text-container {
		p {
			max-width: $p-width;
			text-wrap: pretty;
		}
	}

	.accordion-item {
		border: 0.1rem solid white;
		border-radius: 0.5;

		.accordion-body {
			li {
				background-color: $primary;
			}
		}

		.accordion-body {
			font-size: calc($fs-sm + 1rem);
		}
	}
}
