//Custom Styles Here
.text-brand-color {
	&-primary {
		color: $brand-color-primary;
	}

	&-secondary {
		color: $brand-color-secondary;
	}
}

.bg-brand-color {
	&-primary {
		background-color: $brand-color-primary;
	}

	&-secondary {
		background-color: $brand-color-secondary;
	}
}

.section-height {
	min-height: $def-section-height;
}

//Project Modals
.work_project_modal {
	.modal-content {
		background-color: $primary;
		border: $def-border-style $card_border_sz / 2 $body-color;

		.modal-header {
			.modal-title {
				color: $brand-color-primary !important;
			}

			.btn-close {
				background-color: $brand-color-primary;
			}
		}

		.modal-body {
			p {
				font-size: $fs-lg !important;
				max-width: $p-width;
			}
		}
	}
}
